html {
    font-family: sans-serif;
    background-color: rgb(51,60,64);
    font-weight: lighter;
    color: rgb(205,242,255);
}

/* unvisited link */
a:link {
  color: rgb(248,255,169);
}

/* visited link */
a:visited {
  color: rgb(248,255,169);
}

/* mouse over link */
a:hover {
  color: rgb(248,255,169);
}

/* selected link */
a:active {
  color: rgb(248,255,169);
}

/* classes CLASSES */

.top-banner {
    text-align: center;
    font-size: xx-large;
}
