<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Question</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
</head>
<body>

{% if edit_me %}
    <div class="divquestion">
        <p>Edit Question</p>
    </div><br>

{% else %}
    <div class="divquestion">
        <p>Add Your Question</p>
    </div>
    <br>
{% endif %}

<a href="{{ url_for('route_index') }}">
    <button type="submit" class="link_back">Go Back</button>
</a>
<br>
<form {% if edit_me %} {% if question %} action='/question/{{ id_q }}/edit' {% endif %} {% else %}
                                         action='/add-question' {% endif %} method="post" enctype=multipart/form-data>
    <label id="question">{% if edit_me %}
        Title<br>
    {% else %}
        <label id="question">Add question title<br>
    {% endif %}</label>
        <input type="text" name="title" id="title" title="message" class="message" maxlength="50" {% if edit_me %}
            {% if question %}
               value="{{ question[0].title}}"
            {% endif %}
        {% endif %} style="min-width: 470px" required><br><br>
        <label id="message">{% if edit_me %}
            Edit question message
        {% else %}
            Add question message
        {% endif %}</label><br>

        <textarea name="message" class="message" title="message" cols="50" rows="10" style="resize: none"
                  required>{% if edit_me %}{% if question %}{{ question[0].message}}
        {% endif %}{% endif %}</textarea></label><br>
    {% if edit_me %}

    {% else %}
        <input type=file name=file accept=".png, .jpeg"> <br><br>
    {% endif %}
    <button title="submit">Submit</button>

</form>
</body>
</html>
