{% extends 'base.html' %}

{% block head %}
    {% if edit_me %}
        <title>Edit Question</title>
    {% else %}
        <title>Add Question</title>
    {% endif %}
{% endblock head %}

{% block body %}
<div>
{% if edit_me %}
    <div class="top-banner">
        <p>Edit Question</p>
    </div><br>

{% else %}
    <div class="top-banner">
        <p>Ask Question</p>
    </div>
    <br>
{% endif %}

<div class="centered-content">
    <form {% if edit_me %} {% if question %} action='/question/{{ id_q }}/edit' {% endif %} {% else %}
                                             action='/add-question' {% endif %} method="post" enctype=multipart/form-data>
        {% if edit_me %}
            <label for="title">Edit Question</label>
            <br>
        {% else %}
            <label for="title">Question</label>
            <br>
        {% endif %}
            <input
                    type="text"
                    name="title"
                    id="title"
                    title="message"
                    class="message"
                    maxlength="50"
                    {% if edit_me %}
                        {% if question %}
                            value="{{ question[0].title}}"
                        {% endif %}
                    {% endif %}><br>
            <label id="message">
                {% if edit_me %}
                    Edit question message
                {% else %}
                    Add question message
                {% endif %}
            </label>
            <br>

            {% if edit_me %}
                {% if question %}
                    <textarea
                            name="message"
                            class="message"
                            title="message"
                            cols="50"
                            rows="10"
                            required>{{question[0].message}}</textarea>
                {% endif %}
            {% else %}
                <textarea
                    name="message"
                    class="message"
                    title="message"
                    cols="50"
                    rows="10"
                    required></textarea>
            {% endif %}
            <br>
        {% if edit_me %}submission_time

        {% else %}
            <input
                    type=file
                    name=file
                    accept=".png, .jpeg, .jpg">
            <br>
        {% endif %}
        <input type="submit" value="Submit" class="add-content-button">

    </form>
</div>
{% endblock body %}
