<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Answer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
</head>
<body>
    <div class="divquestion">
            <p>Add Answer</p>
    </div><br>

<form action='/question/{{ question_id }}/new-answer' method="post" enctype=multipart/form-data>
    <textarea name="message" class="message" title="message" cols="50" rows="10" style="resize: none"
              required></textarea><br>
    <input type=file name=file> <br><br>
    <button name="submit">Submit</button>
</form>
</body>
</html>
