{% extends 'base.html' %}

{% block head %}
    <title>Add comment</title>
{% endblock head %}

{% block body %}

<div class="top-banner">
        <p>Add Comment</p>
</div>

<div class="centered-content">
    <form action='/answer/{{ answer_id }}/new-comment' method="post" enctype=multipart/form-data>
        <textarea name="message" class="message" title="message" cols="50" rows="10" style="resize: none"
                  required></textarea><br>

        <button name="submit">Submit</button>
    </form>


</div>
{% endblock body %}

