{% extends 'base.html' %}

{% block head %}
    {% if edit_me %}
        <title>Edit Answer</title>
    {% else %}
        <title>Add Answer</title>
    {% endif %}
{% endblock head %}


{% block body %}
<div>

{% if edit_me %}
    <div class="top-banner">
        <p>Edit Answer</p>
    </div>
{% else %}
    <div class="top-banner">
        <p>Answer</p>
    </div>
{% endif %}

<div class="centered-content">
    <form {% if edit_me %} {% if answer %} action='/question/{{ id_q }}/{{id_a}}/edit' {% endif %} {% else %} action='/question/{{question_id}}/new-answer' {% endif %} method="post" enctype=multipart/form-data>
        {% if edit_me %}
            {% if answer %}
                <textarea
                        name="message"
                        class="message"
                        title="message"
                        cols="50"
                        rows="10"
                        required>{{ answer.message}}</textarea><br>
            {% else %}
                <textarea
                        name="message"
                        class="message"
                        title="message"
                        cols="50"
                        rows="10"
                        required></textarea><br>
            {% endif %}
        {% else %}
            <textarea
                        name="message"
                        class="message"
                        title="message"
                        cols="50"
                        rows="10"
                        required></textarea><br>
        {% endif %}
            <input type=file name=file accept=".png, .jpeg"> <br><br>

        <input type="submit" name="submit" value="Submit" class="add-content-button">
    </form>
</div>

</div>
{% endblock body %}
