<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Question</title>
</head>
<body>
    <h1>Add Your Question</h1>
    <form action = '/add-question' method="post" enctype=multipart/form-data>
        <label id="question">Add question title</label><br>
        <input type="text" name="title" id="title" title="message" required><br>
        <label id="message">Add question message</label><br>
        <textarea name="message" id="message" title="message" cols="50" rows="10" style="resize: none" required></textarea><br>
        <input type=file name=file> <br><br>
        <button title="submit">Submit</button>
    </form>
</body>
</html>