{% extends 'base.html' %}

{% block head %}
    <title>Add answer</title>
{% endblock head %}



{% block body %}

<div class="border">
<div class="divquestion">
    {% if edit_me %}
    <p>Edit Answer</p>
    {% else %}
    <p>Add Answer</p>
    {% endif %}
</div>
<br>
<br>
{% if edit_me %}
{% if answer %}
<a href="{{ url_for('route_question', question_id = answer.question_id) }}">
    <button type="submit" class="link_back">Go Back</button>
</a>
{% endif %}
{% else %}
<a href="{{ url_for('route_question', question_id = question_id) }}">
    <button type="submit" class="link_back">Go Back</button>
</a>
{% endif %}
<br>
<br>
<form {% if edit_me %} {% if answer %} action='/question/{{ id_q }}/{{id_a}}/edit' {% endif %} {% else %} action='/question/{{question_id}}/new-answer' {% endif %} method="post" enctype=multipart/form-data>
    <textarea name="message" class="message" title="message" cols="50" rows="10" style="resize: none"
              required>{% if edit_me %}{% if answer %}{{ answer.message}}
        {% endif %}{% endif %}</textarea><br>
    {% if edit_me %}

    {% else %}
    <input type=file name=file accept=".png, .jpeg"> <br><br>
    {% endif %}
    <button name="submit">Submit</button>
</form>
</div>
{% endblock body %}
