{% extends 'base.html' %}

{% block head %}
    <title>Ask Mate Home</title>
{% endblock head %}


{% block body %}
    <div class="top-banner">
        <h1>AskMate</h1>
        <p>Answers for everything</p>
    </div>

    <div class="centered-content">
        <form method="post" align="center" action="{{url_for('return_search')}}">
            <input type="text" name="search" id="search" title="search" autofocus placeholder="Search...">
            <input type="submit" id="buttonsearch" value="Search" class="add-content-button">
        </form>
    </div>

    <div class="centered-content">
    <div class="sortquestion">
        {% if show_sort %}
        <form method="get" action="{{ url_for('route_index') }}">
                <select name="param" id="param">
                    {% for elem in question_headers %}
                    <option value="{{elem}}" {% if elem =='submission_time' %} selected {% endif %} >
                        {% if elem == 'submission_time' %}
                            Submission Time
                        {% endif %}
                        {% if elem == 'vote_number' %}
                            Vote Number
                        {% endif %}
                        {% if elem == 'view_number' %}
                            View Number
                        {% endif %}
                        {% if elem == 'title' %}
                            Title
                        {% endif %}
                    </option>
                    {% endfor %}
                </select>
                <select name = "sort_ord" id = "sort_ord" >
                    <option value="asc" selected>
                        Ascending
                    </option>
                    <option value = "desc" >
                        Descending
                    </option>
                </select>
                <button type="submit">Sort questions</button>
            </form>
        </div>
    {% endif %}
    </div>




        {% for line in questions %}
            <div class="question-wrapper">
                <div class="wrapped-votes">
                        <a href="{{ url_for('route_question_vote_up', question_id=line.id) }}" class="vote-button">
                            <img src="/static/img/vote-up-button.png">
                        </a>
                        <br>
                        {{ line.vote_number }}
                        <br>
                        <a href="{{ url_for('route_question_vote_down', question_id=line.id) }}" class="vote-button">
                                    <img src="/static/img/vote-down-button.png">
                        </a>
                </div>

                <div class="wrapped-title">
                        <a href="{{ url_for('route_question', question_id=line.id) }}" id="titlelink">{% autoescape false %}{{ line.title }}{% endautoescape %}</a>
                        <br>
                        <span class="title-info"> View number: {{ line.view_number }} Submission TIme: {{ line.submission_time }}
                            <a href="{{ url_for('route_edit_question', question_id=line.id) }}">
                                <span class="action-button">Edit</span>
                            </a>
                            <a href="{{ url_for('delete_sql_question', question_id=line.id) }}">
                                <span class="action-button">Delete</span>
                            </a>
                        </span>
                </div>

                <div class="wrapped-message">
                    {{ line.message }}
                </div>
            </div>
        {% endfor %}


<!--
<div class="centered-content">
    <div class="add-content-button">
        <a href="{{ url_for('route_add_question') }}">New Question</a>
    </div>
</div>
-->
{% endblock body %}
