{% extends 'base.html' %}

{% block head %}
    <title>Users</title>
{% endblock head %}


{% block body %}
    <p class="top-banner">
        All Users
    </p>

    <div class="centered-content">
        <table class="center">
        <tr>
            <th>Username</th>
            <th>Joined on</th>
            <th>Reputation</th>
        </tr>
        {% for item in data_list_users %}
        <tr>
            <td> {{ item.username }} </td>
            <td> {{ item.created }} </td>
            <td> {{ item.reputation }} </td>
        </tr>
        {% endfor %}
        </table>
    </div>
{% endblock body %}

