{% extends 'base.html' %}

{% block head %}
    <title>Log into Ask Mate</title>
{% endblock head %}


{% block body %}

    <div class="top-banner">
        <p>Log Into Ask Mate</p>
    </div>

    {% if alert_me %}
    <script>
        alert("Sorry, that didn't work.");
    </script>
    {%  endif  %}





    <div class="centered-content">
        {% if no_user_in_db_message %}
            <p>{{ no_user_in_db_message }}</p>
        {% endif %}

        <p> Enter the platform, where you can find the right answers for your questions</p>
        <form action="{{ url_for('login') }}" method="post">
            <label>User Name:</label><br>
            <input type="text" name="username"><br>
            <label>Password:</label><br>
            <input type="password" name="password"><br>
            <input type="submit" value="Log In" class="add-content-button">
        </form>
    </div>


{% endblock body %}
