{% extends 'base.html' %}

{% block head %}
    <title>{{ question.title }}</title>
{% endblock head %}

{% block body%}

<div class="top-banner">
    <p>Question: {{ question.title }}</p>
    <p class="title-info">
        <span>Votes:{{ question.vote_number }} Views:{{ question.view_number }} By: <a href="{{ url_for('display_user_activity', user_id=question.user_id) }}">{{ question.username }}</a>
        Submission Date:{{ question.submission_time }}</span>
        {% if session %}
        <a href="{{ url_for('route_add_question_comment', question_id=question.id ) }}" class="action-button">Comment</a>

            {% if session['username'] == question.username %}
            <a href="{{ url_for('route_edit_question', question_id=question.id) }}" class="action-button">Edit</a>
            <a href="{{ url_for('delete_sql_question', question_id=question.id) }}" class="action-button">Delete</a>
            {% endif %}
            {% if not session['username'] == question.username %}
            {% endif %}
        {% else %}
<!--        <a href="#" class="action-button">Comment</a>-->
<!--        <a href="#" class="action-button">Edit</a>-->
<!--        <a href="#" class="action-button">Delete</a>-->
        {% endif %}
    </p>
</div>

<div class="question-wrapper">
    <div class="wrapped-votes">
        {% if session %}
            <a href="{{ url_for('route_question_vote_up', question_id=question.id) }}" class="vote-button">
                <img src="/static/local_ico/vote-up-button.png">
            </a>
            <br>
            {{ question.vote_number }}
            <br>
            <a href="{{ url_for('route_question_vote_down', question_id=question.id) }}" class="vote-button">
                <img src="/static/local_ico/vote-down-button.png">
            </a>
        {% else %}
            <a href="#" class="vote-button">
                <img src="/static/local_ico/vote-up-button.png">
            </a>
            <br>
            {{ question.vote_number }}
            <br>
            <a href="#" class="vote-button">
                <img src="/static/local_ico/vote-down-button.png">
            </a>
        {% endif %}
    </div>


    <div class="wrapped-title">
        {{ question.message }}
    </div>

        {% if (question.image == '../static/img/' or question.image == None) %}

        {% else %}
            <div class="wrapped-message">
                <a href="{{ question.image }}" target="_blank"><img src="{{ question.image }}" alt="question image" id="image" height="200px"></a>
            </div>
        {% endif %}

</div>


<div class="tag-container">
    {% if session %}
        {% for tag in tags %}
            <span class="tag">
                {{ tag[0]['name'] }}
            </span>
            <span>
                <a
                    class="tag-button"
                    href="{{ url_for('delete_one_tag', question_id = question_id, tag_id = tag[0]['id']) }}"
                    >X</a>
            </span>
        {% endfor %}
        <span><a href="{{ url_for('question_tag',question_id=question_id)}}" class="tag-button">+</a></span>
    {% else %}
        {% for tag in tags %}
            <span class="tag">
                {{ tag[0]['name'] }}
            </span>
            <span>
                <a
                    class="tag-button"
                    href="#"
                    >X</a>
            </span>
        {% endfor %}
        <span><a href="#" class="tag-button">+</a></span>
    {% endif %}
</div>


<div class="comments-container">
    <div class="comments">
        {% for comment in comments %}
            {% if question_id == comment.question_id %}
                {{ comment.message }} by: <a href="{{ url_for('display_user_activity', user_id=comment.user_id) }}">{{ comment.username }}</a>
                {{ comment.submission_time }}<br>
            {% endif %}
        {% endfor %}
    </div>
</div>

    <div class="top-banner">
        <p> Answers</p>
    </div>


{% for answer in answers %}
    {% if answer.question_id == question_id %}

<div class="question-wrapper">

    <div class="wrapped-votes">
        {% if session %}
            <a href="{{ url_for('route_answer_vote_up', answer_id=answer.id) }}" class="vote-button">
                <img src="/static/local_ico/vote-up-button.png">
            </a>
            <br>
            {{ answer.vote_number }}
            <br>
            <a href="{{ url_for('route_answer_vote_down', answer_id=answer.id) }}" class="vote-button">
                        <img src="/static/local_ico/vote-down-button.png">
            </a>
            <div class="wrapped-accepted">
                {% if session.username == db_username_by_question_id %}
                    {% if answer.accepted == false %}
                        <a href="{{ url_for('route_accept_answer', answer_id = answer.id) }}" class="action-button">
                            Accept
                        </a>
                    {% elif answer.accepted == true %}
                    <span class="accepted-answer">ACCEPTED</span><br>
                    <a href="{{ url_for('route_accept_answer', answer_id = answer.id) }}" class="action-button">
                        Clear
                    </a>
                    {% endif %}
                {% elif session.username != db_username_by_question_id %}
                    {% if answer.accepted == true %}
                        <span class="accepted-answer">ACCEPTED</span>
                    {% elif answer.accepted == false %}
                    <a href="#" class="action-button">
                        Accept
                    </a>
                    {% endif %}
                {% endif %}
        {% else %}
            <a href="#" class="vote-button">
            <img src="/static/local_ico/vote-up-button.png">
            </a>
            <br>
            {{ answer.vote_number }}
            <br>
            <a href="#" class="vote-button">
                        <img src="/static/local_ico/vote-down-button.png">
            </a>
            <div class="wrapped-accepted">
            {% if answer.accepted == true %}
                    <span class="accepted-answer">ACCEPTED</span>
                {% elif answer.accepted == false %}
                <a href="#" class="action-button">
                    Accept
                </a>
                {% endif %}
        {% endif %}

    </div>
</div>

    <div class="wrapped-title">
        {% if session %}
            {{ answer.message }} by: <a href="{{ url_for('display_user_activity', user_id=answer.user_id) }}">{{ answer.username }}</a> {{ answer.submission_time }}
            <span class="title-info">
                <a href="{{ url_for('route_add_answer_comment', answer_id = answer.id) }}" class="action-button">Comment</a>

                {% if session['username'] == answer.username %}
                <a href="{{ url_for('route_edit_answer', answer_id = answer.id , question_id = answer.question_id) }}" class="action-button">Edit</a>
                <a href="{{ url_for('delete_sql_answer', answer_id = answer.id) }}" class="action-button">Delete</a>
                {% endif %}
                {% if not session['username'] == answer.username %}
<!--                <a href="{{ url_for('route_edit_answer', answer_id = answer.id , question_id = answer.question_id) }}" class="action-button">Edit</a>-->
<!--                <a href="{{ url_for('delete_sql_answer', answer_id = answer.id) }}" class="action-button">Delete</a>-->
                {% endif %}

            </span>
        {% else %}
            {{ answer.message }} by: <a href="{{ url_for('display_user_activity', user_id=answer.user_id) }}">{{ answer.username }}</a> {{ answer.submission_time }}
            <span class="title-info">
<!--                <a href="#" class="action-button">Comment</a>-->
<!--                <a href="#" class="action-button">Edit</a>-->
<!--                <a href="#" class="action-button">Delete</a>-->
            </span>
        {% endif %}

    </div>


        {% if (answer.image == '../static/img/' or answer.image == None) %}

        {% else %}
            <div class="wrapped-message">
                <a href="{{ answer.image }}" target="_blank"><img src="{{ answer.image }}" alt="answer image" height="200px"></a>
            </div>
        {% endif %}
    </div>
        <br>
        <br>
    <div class="comments-container">
        <div class="comments">
        {% for comment in comments %}
            {% if comment.answer_id == answer.id %}
            {{ comment.message }} by: <a href="{{ url_for('display_user_activity', user_id=comment.user_id) }}">{{ comment.username }}</a>
                {{ comment.submission_time }}<br>
            {% endif %}
        {% endfor %}
        </div>
    </div>

</div>
    {% endif %}
{% endfor %}
<br>
<br>
{% if session %}
<div class="centered-content">
    <a href="{{ url_for('route_add_answer', question_id = question_id) }}" class="add-content-button">Answer Question</a>
</div>
{% else %}
<div class="centered-content">
    <a href="#" class="add-content-button">Answer Question</a>
</div>
{% endif %}


{% endblock body %}
