{% extends 'base.html' %}

{% block head %}
    <title>Register</title>
{% endblock head %}


{% block body %}

    <div class="top-banner">
        <p>Join Ask Mate Today</p>
    </div>


    <div class="centered-content">

        <p>The platform where you can find the right answers to absolutely all your questions!</p>
        <div>
            <form action="{{ url_for('register_user')}}" method="post">
            {% if message_invalid %}
            {{ message_invalid }}
            {% endif %}
            <br>
            <label>User Name:</label><br>
            <input type="text" name="username"><br>
            <label>Password:</label><br>
            <input type="password" name="password"><br>
            <label>Confirm Password:</label><br>
            <input type="password" name="confirm"><br>
            <input type="submit" value="Join" class="add-content-button">
            </form>
        </div>
    <br>
        {% if message %}
            {{ message }}
        {% endif %}
    </div>


{% endblock body %}
