{% extends 'base.html' %}

{% block head %}
    <title>Add Tag</title>
{% endblock head %}


{% block body %}

        <div class="top-banner">
            <p>Add Tag</p>
        </div>
        <br>
        <form action="{{ url_for('chose_question_tag', question_id=question_id)}}" method="post" class="tagform">
            <fieldset>
                <span class="labelcheckbox"><input class="roundedOne" type="checkbox" name="css" value="CSS"> <span>CSS</span> </span>
                <span class="labelcheckbox"><input class="roundedOne" type="checkbox" name="html" value="HTML"> <span>HTML</span></span>
                <span class="labelcheckbox"><input class="roundedOne" type="checkbox" name="sql" value="SQL"> <span>SQL</span></span>
                <span class="labelcheckbox"><input class="roundedOne" type="checkbox" name="php" value="PHP"> <span>PHP</span></span>
                <span class="labelcheckbox"><input class="roundedOne" type="checkbox" name="java" value="Java"> <span>Java</span></span>
                <span class="labelcheckbox"><input class="roundedOne" type="checkbox" name="cplus" value="C++"> <span>C++</span></span>
                <span class="labelcheckbox"><input class="roundedOne" type="checkbox" name="javascript" value="Javascript"> <span>Javascript</span></span>
                <span class="labelcheckbox"><input class="roundedOne" type="checkbox" name="python" value="Python"> <span>Python</span></span>
            </fieldset>
                <br>
            <label for="new_tag">Create and add a new tag:</label>
            <input type="text" name="new_tag" id="new_tag" >
            <input type="submit" value="Create" class="add-content-button">
        </form>


{% endblock body %}

