{% extends 'base.html' %}

{% block head %}
    <title>Tags</title>
{% endblock head %}


{% block body %}
    <table>
        <thead>
            <tr>
                <th>Tag</th>
                <th>Number of Questions Per Tag</th>
            </tr>
        </thead>
        <tbody>
            {% for current_data in data %}
            <tr>
                <td>{{current_data}}</td>
                <td>{{data[current_data]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}